[submodule "Vendor/GLFW"]
	path = Vendor/GLFW
	url = https://github.com/glfw/glfw
[submodule "Vendor/vkfw"]
	path = Vendor/vkfw
	url = https://github.com/Cvelth/vkfw
[submodule "Vendor/spdlog"]
	path = Vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Vendor/Vulkan"]
	path = Vendor/Vulkan
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "Vendor/glm"]
	path = Vendor/glm
	url = https://github.com/g-truc/glm
